.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & > * {
        margin: 10px;
    }
}

.card {
    perspective: 1000px;
    user-select: none;
    height: fit-content;
    width: fit-content;

    .card_inner {
        transform-style: preserve-3d;
        transition: transform 0.5s ease;
        height: 100%;
        width: 100%;
        position: relative;
        border-radius: 40px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        transform: rotateY(180deg);
    }

    .card_front,
    .card_back {
        backface-visibility: hidden;
        pointer-events: none;
    }

    .card_back {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform: rotateY(180deg);
    }

    &.active, &:hover {
        .card_inner {
            transform: rotateY(0deg);
        }
    }
}


